header{
    display: flex;
    align-items: center;
    justify-content: center;
    nav{
        width: 90vw;
        height: 75px;
        border-bottom: 1px solid $primaryFontColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            display: flex;
            align-items: center;
            ul{
                li{
                    list-style-type: none;
                    display: inline-block;
                    margin: 0 15px;
                    a{
                        font-size: 13px;
                        color: $primaryFontColor;
                    }
                }
            }
            >a{
                margin-left: 10px;
                display: inline-block;
                color: $primaryBccButtons;
                border: 1px solid $primaryBccButtons;
                border-radius: 7px;
                padding: 5px 10px;
                &:hover{
                    color: $primaryBccColor;
                    background-color: $primaryBccButtons;
                    transition: ease 0.5s;
                }
                img{
                    margin-right: 6px;
                }
                
            }
        }
    }
}